.header {
  height: 74px;
  width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 885px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 320px;
    margin: 0 auto;
  }
}
